* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/pattern-background-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: #fff;
  border-radius: 25px;
}

.hero {
  border-radius: 25px 25px 0 0;
  max-width: 100%;
}
